fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
python-dotenv
pydantic_settings
bcrypt
email-validator